<div *ngIf="_data"> <!-- class="col-md-8"-->
    <div class="row show-grid">
        <div class="col-md-3">제목</div><div class="col-md-9">{{_data.title }}</div>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">출연진</div><div class="col-md-9">{{_data.actors  }}</div>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">감독</div><div class="col-md-9">{{_data.director }}</div>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">장르</div> <div class="col-md-9">{{_data.genre  }}</div>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">가격</div> <div class="col-md-9">{{_data.price}}원</div>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">줄거리</div><div class="col-md-9">{{_data.synop }}</div>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">URL</div> <div class="col-md-9">{{_data.id  }}</div>
    </div>
</div>